<% @quotes.each do |quote| %>

    <div class="col-sm-12 quote-wrap row">

        <blockquote class="blockquote">

            <% if quote.image? %>
                <%= image_tag quote.image.url %>
            <% end %>

            <p><%= quote.quote %></p>

            <% if quote.by.present? %>
                <footer>by <cite title="Source Title"><%= quote.by %></cite></footer>
            <% end %>

        </blockquote>

        <% if current_user && current_user == quote.user%>
            <%= link_to 'Edit', edit_quote_path(quote), class: "btn btn-secondary btn-sm" %>
            <%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-sm" %>
        <% end %>

    </div>

<% end %>

<%= link_to 'Add another Quote', new_quote_path, class: "btn btn-info" %><br/><br/>

<div class="api-json col-sm-6">

    <% if @user %>
    <div class="row">
        <b>Get this users daily random quote: </b><br/>
        <%= link_to "#{root_url}api/v1/quote?userid=#{@user.id}", "#{root_url}api/v1/quote?userid=#{@user.id}" %><br/>
    </div>

    <div class="row">
        <b>Get all quotes of this user: </b><br/>
        <%= link_to "#{root_url}api/v1/quotes?userid=#{@user.id}", "#{root_url}api/v1/quotes?userid=#{@user.id}" %><br/>
    </div>
    <% end %>
    
</div>

